@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

*{
    margin: 0; 
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
}

body{
    background-color: aliceblue;
}

.container{
    max-width: 900px;
    margin: 50px auto 100px;
    background-color: #FFF;
    border: 1px solid forestgreen;
    text-align: center;
    height: 100%;
}

.form input[type="text"]{
    width: 50%;
    height: 40px;
    font-size: 17px;
    margin-bottom: 10px;
    /* background-color: aqua; */
    
}

#adicionar{
    box-sizing: border-box;
    color: #FFF;
    background-color: rgb(83, 83, 221);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}


.task-row{
    background-color: rgb(184, 190, 190);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    display: none;
}

.task-row a{
    font-size: 30px;
}


.bi-check,
.bi-trash{
    cursor: pointer;
}

.bi-check::before {
    color: blue;
}
.bi-trash::before{
    color: blue;
}

.bi-list::before{
    color: blue;
    cursor: n-resize;
}


div.delete{
    justify-self: flex-end;
}
