@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

*{
    margin: 0; 
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
}

body{
    height: 90hv;
}

.content-header-container h1{
    text-align: left;
    margin-bottom: 30px;
}

.date{
    display: flex;
    align-items: center;
}

.content-header-container{
    max-width: 600px;
    margin: 100px auto 10px;
    background-color: #FFF;
    /* border: 1px solid forestgreen; */
    text-align: center;    
}

.container{
    max-width: 600px;
    margin: 0 auto;
    background-color: #FFF;
    /* border: 1px solid forestgreen; */
    text-align: center;
    height: 100%;
}

.form input[type="text"]{
    width: 50%;
    height: 40px;
    font-size: 17px;
    margin-bottom: 10px;
    /* background-color: aqua; */
    
}

#adicionar{
    box-sizing: border-box;
    color: #FFF;
    background-color: rgb(83, 83, 221);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}


.task-row{
    background-color: rgb(184, 190, 190);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    display: none;
}

.task.content{
    font-size: 1.6rem;
}

.task-row a{
    font-size: 30px;
}


.bi-square{
    margin: 0 10px;
}


.bi-check-square,
.bi-square,
.bi-trash{
    margin: 0 5px;
    cursor: pointer;
}


.bi-check-square::before{
    color: blue;
}

.bi-square::before{
    color: blue;
}


.bi-trash::before{
    color: blue;
}

.bi-list::before{
    color: blue;
    cursor: n-resize;
}


div.delete{
    justify-self: flex-end;
}

.done{
    text-decoration: line-through;
}

.footer{
    width: 100%;
    bottom: 10px;
    text-align: center;
}

.footer h2{
    font-size: 1.1em;
}