@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

*{
    margin: 0; 
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
}

body{
    height: 90hv;
    background: rgb(123,223,242);
    background: radial-gradient(circle, rgba(123,223,242,1) 16%, rgba(178,247,239,1) 79%);
}

.date{
    display: flex;
    align-items: center;
}

.content-header-container{
    max-width: 600px;
    margin: 80px auto 10px;
    text-align: center;    
}

.header-box h4,
.header-box h1{
    color: #7BDFF2;
    text-align: left;
}

.header-box h4{
    margin-top: 10px;
}

.header-box{
    height: 100px;
    background-image: url(../img/check.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 10px;
}


.container{
    max-width: 600px;
    height: 70vh;
    margin: 0 auto;
    background-color: transparent;
    text-align: center;
    -webkit-box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.63); 
    box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.63);
    overflow: scroll;
    overflow-x: hidden;
    background-color: #EFF7F6;
    background: rgba(255, 255, 255, 0.3);
}


.form input[type="text"]{
    width: 45%;
    height: 25px;
    font-size: 17px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 17px;
    border: none;
    background-color: rgba(247, 214, 224, 0.9);
    transition: .5s;
}

.form input[type="text"]:focus{
    outline: none;
    background-color: #EFF7F6;
}


#adicionar{
    box-sizing: border-box;
    font-size: 1.2em;
    background-color: #F2B5D4;
    color: aliceblue;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}


.task-row{
    background: rgb(244,194,217);
    background: radial-gradient(circle, rgba(244,194,217,1) 41%, rgba(242,181,212,1) 58%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}

.task.content{
    color: #FFF;
    font-size: 1.6rem;
    width: 60%;
    text-align: left;
}

.task-row a{
    font-size: 30px;
}



.bi-check-square,
.bi-square,
.bi-trash{
    margin: 0 5px;
    cursor: pointer;
}


.bi-list::before,
.bi-trash::before,
.bi-square::before,
.bi-check-square::before{
    color: #7ce1f5;
}

.bi-list::before{
    cursor: n-resize;
}


div.delete{
    justify-self: flex-end;
}

.done{
    text-decoration: line-through;
}

.footer{
    position: fixed;
    width: 100%;
    bottom: 5px;
    text-align: center;
}

.footer h2{
    color: rgb(190, 190, 190);
    font-size: 1.1em;
}